body {
  margin: 0;
  background: url("https://images.alphacoders.com/106/1062064.jpg");
  background-color: rgb(0, 0, 0);
  background-size:cover;
  width: 100vw;
  height: 100vw;
  position: absolute;
}

.card{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:-webkit-any-link {   /* accedi por consola a este css para modificar el color de un boton */
  color:rgb(255, 255, 255);
  cursor: pointer;
}

.fix_card{
  text-decoration: none;
}

.select{
  background-color: #000000;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 15px;
  box-shadow: 0px 1px 10px red;
  padding: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.select:hover{
  box-shadow: 0px 1px 10px blue;
}

.cards_item {
  flex-basis: 30%;
  padding-left: 8px;
  padding-right: 8px;
  margin: 10px;
}

.flex_filtro{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.paginado{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

}

.paginado_container{
  width: 100%;
  height: 100%;
}

.Paginado_paginado_orden__1CjLW{
  width: 1px;
}

.buscador{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0.6rem;
  background-color: black;
  box-shadow: 0px 1px 10px red;
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1rem;
}

.searchbar_container{
  margin-right: 2rem;
}

.navcontainer{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
  background-color: black;
  box-shadow: 0px 1px 10px red;
  border-radius: 20px;
  margin-left: 18%;
  margin-right: 18%;
}

.not{
  font-size: 2rem;
  color: black;
  text-align: center;

}

.paginado_orden{
  display: flex;
  margin: 10px 5px 20px 5px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 1px 10px red;
  border: 10px;
  padding: 10px;
  background: #000000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.paginado_orden:hover{
  box-shadow: 0px 1px 10px blue;
}


