.input{
  background-color: #000000;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  box-shadow: 0px 1px 10px blue;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.boton{
  cursor: pointer;
  background-color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 5px;
  box-shadow: 0px 1px 10px blue;
  padding: 5px;
  text-decoration: none;
  color: white;
}

.boton:hover{
  box-shadow: 0px 1px 10px red;
}